braceexpand
certifi
charset-normalizer
colorama
filelock
fsspec
ftfy
huggingface-hub
idna
Jinja2
MarkupSafe
mpmath
networkx
numpy
packaging
pandas
Pillow
pyreadline3
python-dateutil
pytz
PyYAML
regex
requests
safetensors
six
sympy
timm
tokenizers
torch
torchvision
tqdm
transformers
typing_extensions
tzdata
urllib3
wcwidth
webdataset
opencv-python
libauc
boto3
